In [1]:
cd ..

/Users/adamnavarroliriano/Documents/Personal/Code/language/language-api

/Users/adamnavarroliriano/miniconda3/envs/language-api/lib/python3.12/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd
import numpy as np 
from sacrebleu import sentence_bleu

## Result

### Pretrained

In [25]:
test_scores_en_da_sv_pretrained = pd.read_csv('data/kaggle/test_scores_en_da_sv_pretrained.csv')
test_scores_en_da_sv_pretrained['bleu'] = test_scores_en_da_sv_pretrained.apply(lambda x: sentence_bleu(x['translation'], [x['tgt_text']]).score, axis=1)
test_scores_en_da_sv_pretrained['bleu_lowercase'] = test_scores_en_da_sv_pretrained.apply(lambda x: sentence_bleu(x['translation'].lower(), 
                                                                                                                  [x['tgt_text'].lower()]).score,
                                                                                          axis=1)

In [26]:
test_scores_en_da_sv_pretrained.groupby(['src_lang', 'tgt_lang'])[['bleu', 'bleu_lowercase']].mean()

                        bleu  bleu_lowercase
src_lang tgt_lang
da       en        40.243396       46.540917
en       da        40.851250       43.092761
sv       en        34.931070       37.576263

### Finetuned

In [8]:
en_sv_finetuned_results = pd.read_csv('data/kaggle/en_sv_finetuned_results.csv')

In [17]:
en_sv_finetuned_results['bleu'] = en_sv_finetuned_results.apply(lambda x: sentence_bleu(x['prediction'], [x['target_text']]).score, axis=1)
en_sv_finetuned_results['pretrained_bleu'] = en_sv_finetuned_results.apply(lambda x: sentence_bleu(x['pretrained_predictions'], [x['target_text']]).score, axis=1)
en_sv_finetuned_results['bleu_lowercase'] =  en_sv_finetuned_results.apply(lambda x: sentence_bleu(x['prediction'].lower(), [x['target_text'].lower()]).score, axis=1)
en_sv_finetuned_results['pretrained_bleu_lowercase'] = en_sv_finetuned_results.apply(lambda x: sentence_bleu(x['pretrained_predictions'].lower(), 
                                                                                                             [x['target_text'].lower()]).score, axis=1)

In [20]:
en_sv_finetuned_results.groupby(['src_lang', 'tgt_lang'])[['bleu', 'bleu_lowercase', 'pretrained_bleu', 'pretrained_bleu_lowercase']].mean()

,,bleu,bleu_lowercase,pretrained_bleu,pretrained_bleu_lowercase
src_lang,tgt_lang,,,,
en,sv,33.240115,34.477832,32.395573,33.609523